.view {position: relative;}

.view span {
    display: none;
}
.view:hover span {
    position: absolute;
    top: 5px;
    left: 30px;
    display: block;
    background: #fdd;
    border: 1px solid red;
}


h1, h2, h3 {
    font-family:  "freight-sans-pro", sans-serif; 

/*     text-shadow: 0 1px rgba(0, 0, 0, 0.2); */
}

h3 {
    font-size: 150%;
    font-weight: 500;
    padding-top: 1em;
}


.alignRight {
    text-align: right;
}

.standout {
    padding: 10px;
    font-size: 14px;
    background-color: red;
    color: #fff;
}
.standout, .standout a, .standout a:visited {
    font-size: 14px;
    background-color: red;
    color: #fff;
}


h1 {
    padding-left: 15px;
    font-weight: 400;
    font-size: 190%;

}

body > h1 {
/*     margin-top: -30px; */
}

body {	
    font-family: "source-sans-pro", sans-serif;
    margin: 0px;
    background: #fff;
}

a {	 
    color: #001122;
}


#bodyText {
    line-height: 1.5em;
    margin: 10px 1.5em 0 1em;
    padding: 0 1em 1ex 1em;
}

#footer a {
    color: #ccc;
}

#footer .adLink {
    color: #222;
}

#footer .adLink a {
    color: #222;
}

#footer {

    background-color: #1d1d1d;
    color: #ccc;
    padding: 10px;
    margin-top: 20px;
    font-size: 70%;
}

/* New style header */

.topbar {
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #333333, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#111111));
    background-image: -webkit-linear-gradient(top, #333333, #111111);
    background-image: -o-linear-gradient(top, #333333, #111111);
    background-image: linear-gradient(to bottom, #333333, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    border-bottom: 2px;
    box-shadow: 0 2px rgba(0,0,0,0.2);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
    height: 40px;
    padding: 5px;
    color: #999;
}

.topbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topbar ul li {
    display: inline;
    float: left;
}

.topbar ul li a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 110%;
    line-height: 40px;
    display:block;
    color: #ccc;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    font-family: "freight-sans-pro", sans-serif;
    font-weight: 300;
}

.topbar .right {
    float: right;
    padding-left: 10px;
    font-family: "freight-sans-pro", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 80%;
    line-height: 40px;
}


.topbar form {
    display: inline;
    padding: 5px;
    
}

.topbar form button {
    border: 0px;
    border-radius: 4px;
    background-color: #cec;
}


/* Quicklook columns */

.quicklookSorted {
    background-color: #ddd;
}

.highlightSell {
    background-color: #dde;
}

.highlightBuy {
    background-color: #eed;
}

/* Body text */

#bodyText {
    min-height: 600px;
}

#bodyTextFlat {
    margin: 10mm 1em 0 1em;
}

#bodyText p {
    padding-bottom: 1ex;
    margin: 2ex 0 2ex 0;
    margin-left: 2ex;
}


#bodyText form {
    background-color: #ddd;
    padding: 1ex;
    /*margin-left: 2ex;*/
    line-height: 5ex;
    text-align: top;
}

#bodyText .quicklookHeader form {
    text-align: top;
    line-height: 5ex;
    background-color: #eee;
    margin-left: 0px;
    padding-bottom: 5px;
    font-size: 90%;
}


#bodyText .sslimit {
    text-decoration: none;
    font-size: 50%;
    padding-right: 2ex;
}

#bodyText .range_view {
    font-size: 80%;
    padding-left: 3ex;
}

#bodyText .sec_status {
    font-size: 70%;
    padding-right: 1ex;
}

#bodyText span[sec_status="0.0"] {
    color: red;
}

#bodyText span[sec_status="0.1"], #bodyText span[sec_status="0.2"], #bodyText span[sec_status="0.3"], #bodyText span[sec_status="0.4"] {
    color: #a22;
}


#bodyText span[sec_status="0.5"], #bodyText span[sec_status="0.6"], #bodyText span[sec_status="0.7"], #bodyText span[sec_status="0.8"], #bodyText span[sec_status="0.9"], #bodyText span[sec_status="1.0"] {
    color: #2a2;
}


#bodyText form a, #bodyText form a:visited {
    border-radius: 5px;
    background-color: #cce;
    padding: 1ex;


    text-decoration: none;
}

#bodyText form button {
    border-radius: 5px;
    background-color: #cec;
    padding: 1ex;
    font-size: 100%;
    border: 0px;
    text-decoration: none;
}

#bodyText form input[type="text"] {
    font-size: 100%;
    border-radius: 3px;
    border: 0px;
    padding: 1ex;
}


.search_suggestions {
    color: #666;
    font-size: 85%;
    padding-left: 1em;
    margin-top: 1em;
}

.search_frontbox {

}

.search_suggestions a, .search_suggestions a:visited {
    background-color: #ccd !important;
    color: #666;
    padding-left: 1.1em;
}



.formBlock {
    background-color: #ddd;
    padding: 1ex;
    margin-left: 2ex;

}

.RHS {
    margin-right: 2.5mm;
    float: right;
    clear: right;
}

.LHS {
    margin-left: 2.5mm;
    float: left;
    clear: left;
}

.treeView {
    margin: 1ex 1ex 1ex 2.5ex; /* t r b l */
    border-left: 1px solid;
    padding-left: 0.5ex;
}

.treeheader {
    background-color: #f0f0ff;
    font-family: sans-serif;
}

.adLink {
    background-color: #FFFFaa;
    padding: 10px;
    font-size: 90%;
}


.colorAlt {
    background-color: #DDDDEE;
}

.tradeTool {
    width: 90%;
    background-color: #ccff99;
    padding: 23px;
    margin-bottom: 10px;
}
.userPanel {
    width: 90%;
    background-color: #ccff99;
    padding: 10px;
    padding-bottom: 20px;
}

#systemSearch {

}
#system1s { position:static;width:20em; } 
#system1ysearchcontainer { text-align:left;width:20em; } 
#system2s { position:static;width:20em; }
#system2ysearchcontainer { text-align:left;width:20em; } 

table {
    border: 0;
    border-spacing: 0px;
}

td {
    padding: 5px;

}

.doctable th {
    background-color: #ddd;
}

.doctable td {
    padding: 10px;
}

img {
    border: 0px;
}


.stat-bar {
    background-color: #222;
    color: #eee;
    padding: 10px;
    border-bottom: 1px solid;
    border-color: #888;
}

.stat-bar .picked {
    padding-left: 10px;
    padding-right: 10px;
}

.stat-bar .topick {
    padding-left: 10px;
    cursor: pointer;
    padding-right: 10px;
    font-size: 70%;
    text-decoration: underline;
}

.stat-bar .inner {
}

.stat-bar .noticeText {
    padding: 10px 0px 0px 0px;
    font-size: 80%;
    font-family: "freight-sans-pro", sans-serif;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: inline-block;

}

.stat-bar .explain {
    font-size: 70%;
    font-weight: 300;

}

.stat-bar .price {

    font-size: 180%;
    font-weight: 600;
}

.stat-bar .priceSm {
    font-size: 150%;
    font-weight: 600;
}

.stat-bar .volume {
    font-size: 90%;
}

.stat-bar .typename {
    font-size: 100%;
    font-weight: 300;
    font-family: "freight-sans-pro", sans-serif;
    width: 10%;
    display: inline-block;
}

.stat-bar a, .stat-bara:visited {
    color: #eee;
    text-decoration: none;
}


.stat-bar .sepdiv {
    padding-bottom: 10px;
    padding-top: 10px;
}

.stat-bar .partialWidth {
    width: 44%;
    white-space : nowrap;
    min-width: 200px;
    display: inline-block;
}


.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 5px;
  padding: 3px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 5px;
  font-size: 14px;
}

.tt-suggestion p {
    padding: 1px !important;
    margin: 0px !important;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

