
#extends templates.basebase

#def title
EVE-Central.com - Corporations - Manage
#end def

#def body

<p>Edit your corporation settings below for <b>$corp.corporation</b></p>

<form method="POST" action="manage.html">
<input type="hidden" name="set" value="1">

Description: <br />
<input type="text" name="description" size="60" value="$corp.description">
<br />
Headquarters: <input type="text" name="headquarters" value="$corp.headquarters">
<br />
Join password: <input type="text" name="join_password" value="$corp.join_password">
<br />
<i>The join password is used to restrict automatic corp membership from people who register or login on this site. </i>
<br />
Ticker Symbol (also used to view web pages): <input type="text" name="ticker" value="$corp.ticker">
<br />

<input type="submit" value="Update">
</form>



#end def
