
#extends templates.basebase

#def title
$corp.corporation - $ptitle
#end def

#def body
<p>Editing page: <a href="/corp/$corp.ticker/${pagename}.html">${pagename}.html</a>. Note: index cannot be deleted.</p>

<form method="post" action="edit_page">
<div>
<input type="hidden" name="page" value="$pagename" />
<input type="hidden" name="set" value="$pagename" />

Title: <input type="text" value="$ptitle" name="title" size="30" />
<br />
Contents:<br />
#if $isigb
<b>The IGB does not support textareas correctly. You will not be able to edit this page</b>
<input type="hidden" name="contents" value="$pcontents" />
#else
<i>Use <a href="http://www.w3schools.com/html/html_examples.asp">HTML</a> in the box below. Make links to other pages by the local link syntax (&lt;a href="myotherpage.html"&gt;Go here&lt;/a&gt;). </i>
<br/>
<textarea cols="60" rows="20" name="contents" wrap="soft">$pcontents</textarea>
#end if

<br />
View permissions: <select name="view">
<option>$view</option>
<option>public</option>
<option>corp only</option>
<option>director only</option>
</select>
<br />
<input type="submit" value="Save" />
</div>
</form>

<form method="get" action="edit_page">
<div>
Go to page:
<select name="page">
#for $page in $pages
 <option value="$page">${page}.html</option>
#end for
</select>
<input type="submit" value="Go" />
</div>
</form>

<hr>



#end def
