
#extends templates.basebase
#def title
EVE-Central.com - Corporations
#end def

#def body
#if $user

#if $can_create

<p>Your corporation (<i>$user.corporation</i>) does not yet have an entry on EVE-Central.com. You can create a free entry by simply <a href="register.html">clicking here</a>. This will allow you to setup your own EVE-Central Shop (coming soon), and free simple webhosting for your corporation.</p>

#else
<!-- /cancreate-->



<!--- IS MEMBER --->
#if $user.ismember

<p>You are a <i>member</i> of $user.corporation.</p>
#if $user.isdirector

<p><b>Directors!</b><a href="manage.html">Manage you corp here</a></p>

#end if

#if not $ucorp.ticker
<p>Your corporation does not have its ticker symbol set. Please set this to allow browsing and editing of your web pages. Bug your director.</p>
#else
<p><a href="/corp/$ucorp.ticker/index.html">Browse and edit your corp pages</a></p>
#end if




#else 
<!-- else not ismember -->
<p>You are registered in EVE as a member of <i>$user.corporation</i>, but have not yet been approved on EVE-central.com because the corporate directors have enacted a join password for your corporation. You will need to know this password in order to join the corporation.</p>

<form method="POST" action="index.html">
Please enter the join password for <i>$user.corporation</i>: <input type="password" name="join_password" value=""> <input type="submit" value="Join">
</form>


#end if 
<!-- /ismember -->

#end if

#else
#pass
#end if
<hr />
<h3>Corporations with websites at EVE-Central.com:</h3>
<hr/>
#for $corp in $corps
<p><b>$corp['corpname'] [${corp['ticker']}]</b> - $corp['headquarters'] <a href="/corp/$corp['ticker']/">Website</a>
<br />
$corp['description']
</p>
#end for


#end def
