#extends templates.basebase

#def title
Developer Integration
#end def

#def body

#if 'user' in $session

#end if
<h2>The Developer Documentation has moved to the <a href="http://dev.eve-central.com/evec-api/start">Wiki</a></h2>
<p>Please see the up-to-date documentation at the <a href="http://dev.eve-central.com/evec-api/start">Wiki</a> - : <a href="http://dev.eve-central.com/evec-api/start">http://dev.eve-central.com/evec-api/start</a></p>


#end def
