#extends templates.basebase

#def title
EVE-Central: EVE-Online Market Aggregator and Trade Finder
#end def

#def body


#if 'user' in $session
<p>--------&gt; <b>For user tools, check out the <a href="/users/">Users</a> portal!</b></p>
#end if

<p>

Welcome to EVE-Central.com, your source for <a href="http://www.eve-online.com/">EVE-Online</a> cross-region market information and statistics, corporation website hosting (login as a director of your corp to see it in action), and more. As we can't directly poll the EVE market ourselves, we depend on the thousands users of this site to provide up to date market reports, using the "Export to file" option found in the market in conjunction with our upload software. 

</p>

<h3>Browse</h3>

<form method="GET" action="/home/typesearch.html">
Search for a type of item where the name contains (i.e., Afterburner, trit, mexal): <input type="text" name="search"> <input type="submit" value="Search">
<br />

</form>


<ul>
 <li><a href="/home/market.html">Market Browser</a></li>
 <li><a href="/home/tradefind.html">Trade Finder</a></li>
 <li><a href="/home/reports.html">Market Reports</a></li>
</ul>


<h3>Cache Reading Uploader</h3>
<p>Combining the latest advances in the open-source <a href="http://dev.eve-central.com/libevecache/">libevecache cache reading library</a> and the EVE-Central website, we are working on the carpal tunnel syndrome reducing uploader <a href="http://dev.eve-central.com/contribtastic/">Contribtastic</a>. No more mashing "Export to File"! Just download, install, and play EVE like you normally do. <i>This feature is undergoing testing - you can participate but don't expect flawless performance.</i></p>

<h3>New and Updates</h3>

<p>See the <!-- related <a href="http://www.eveonline.com/ingameboard.asp?a=topic&threadID=282942&page=1">thread on EVE-online.com</a>, as well as --> the <a href="http://yannramin.com/category/eve-central/">development blog</a> for update on EVE-Central, the uploader, and more. You can also take a look at the <a href="http://dev.eve-central.com/">development wiki</a> for information on the EVE-Central.com codebase, API usage tips, and libevecache development.
</p>


<h3>Programs and Websites Using EVE-Central Data</h3>

<ul><li><a href="http://nonninja.net/eve">EVE Item Comparison Tool by Bellatroix</a></li>
<li><a href="http://evemon.battleclinic.com/">EVEMon - Character Monitoring and Planning for EVE Online</a></li>
<li><a href="http://wiki.heavyduck.com/EveAssetManager">EVE Asset Manager</a> Very slick tool to track personal and corporate assets in EVE.</li>
<li><a href="http://myeve.eve-online.com/ingameboard.asp?a=topic&threadID=790277&page=1">sandshark's IGB market tool</a> Quickly get prices and refine rates for any item in EVE.</li>
<li><a href="http://eve.waasp.ca/  ">EVE Asset Manager - A web based asset tracking tool</a></li>
<li>And many more! (EVEdev killboard, etc)</li>
</ul>
<p>

<p>Powered by:<br />
<a href="http://www.python.org/"> <img src="/images/python-powered-w-100x40.png" border="0" /></a>  <a href="http://postgresql.org"><img src="/images/postgresql.png" border="0" /></a> <a href="http://numpy.scipy.org/"><img src="/images/numpylogo.png" border="0" /></a> <img src="/images/cplogo.jpg" border="0" />
<br /></p>

<script type="text/javascript">
var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
</script>
<script type="text/javascript">
UserVoice.Tab.show({ 
  key: 'evecentral',
  host: 'evecentral.uservoice.com', 
  forum: 'general', 
  alignment: 'right', /* 'left', 'right' */
  background_color:'#f00', 
  text_color: 'white', /* 'white', 'black' */
  hover_color: '#06C',
  lang: 'en' /* 'en', 'de', 'nl', 'es', 'fr' */
})
</script>
#end def
