#extends templates.basebase

#def title
EVE-Central: The EVE-Online Market Aggregator and Toolkit
#end def
#def body

<h3>The Market (all of it)</h3>

<form method="get" action="/home/typesearch.html">

Search for  <input type="text" name="search" placeholder="Item name" id="af_field" autofocus> <button type="submit" value="Search">Search</button>
<a href="/home/market.html">Advanced</a> <a href="/tradetool/">Trade Finder</a>

<span class="search_suggestions">
Suggestions: <a href="//eve-central.com/home/quicklook.html?typeid=34">Tritanium</a> 
<a href="//eve-central.com/home/quicklook.html?typeid=35">Pyerite</a>
<a href="//eve-central.com/home/quicklook.html?typeid=36">Mexallon</a>
<a href="//eve-central.com/home/quicklook.html?typeid=17918">Rattlesnake</a>
<a href="//eve-central.com/home/quicklook.html?typeid=24698">Drake</a>
<a href="//eve-central.com/home/quicklook.html?typeid=44992">PLEX</a>
<a href="//eve-central.com/home/quicklook.html?typeid=16649">Technetium</a>
<a href="/home/typesearch.html">(All Items)</a>
</span>

</form>
<br>
<div class="stat-bar">
  <span class="priceSm" id="statsName">Loading snapshots...</span>
</div>


<div id="statsHolder" class="stat-bar">Reticulating splines...</div>

<script id="statsTemplate" type="text/x-handlebars-template">
  <div class="sepdiv">
    <a href="/home/quicklook.html?typeid={{typeid}}">
    <span class="typename">{{typename}}</span>
    {{#with values}}

    <span class="partialWidth">
    <span class="noticeText">SELLING</span> 
    {{#with sell}} 
    <span class="price">{{formatPrice fivePercent}}</span> <span class="explain">5%</span> / <span class="priceSm">{{formatPrice median}}</span> <span class="explain">median</span> <span class="volume">({{formatPrice volume}} units)</span>
    {{/with}}
    </span>
    <span class="partialWidth">
    <span class="noticeText">BUYING</span> 
    {{#with buy}} 
    <span class="price">{{formatPrice fivePercent}}</span> <span class="explain">5%</span> / <span class="priceSm">{{formatPrice median}}</span> <span class="explain">median</span> <span class="volume">({{formatPrice volume}} units)</span>
    </span>
    
    {{/with}}
    {{/with}}
    </a>
  </div>
</script>
<script id="statsDropdown" type="text/x-handlebars-template">
  
</script>
<script type="application/javascript">

\$(document).ready(function() { 
ec.indexpage(); 
});
</script>

<h3>News and Updates</h3>

See our <a href="https://twitter.com/evetaccentral">Twitter feed</a> for updates on EVE-Central.

<h3>Follow us on Twitter</h3>
<a class="twitter-timeline" href="https://twitter.com/EVEtacCentral" data-widget-id="271714050931572736">Tweets by @EVEtacCentral</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/vWXmwzc4tR056AxywcnvtA.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>

#end def
