#import re
#extends templates.basebase

#def title
Market Browser
#end def

#def body


<h3>Step One: Filter by regions</h3>
<form method="post" action="market.html">
<div>
<input type="hidden" name="pickregion" value="1" />
Limit the view to regions (Control or shift click to select more than one). If you don't select anything here, you will be seeing all regions.
<br>
<select name="regionlimit" size="14" multiple="multiple">
	#for $region in $regions
	#if not $re.match("[A-F]\-", $region['regionname'])
		<option value="$region['regionid']"
		#if $region['regionid'] in $regionlimit
			selected="selected"
		#end if

>$region['regionname']</option>
#end if
	#end for
	</select>
<br>
	<td colspan="2"><button type="submit">Limit to selected regions</button> or <button name="empire" value="Limit to empire regions" type="submit">Limit to empire regions</button> ($len($regionlimit) currently selected). To deselect regions, use ctrl+click, followed by clicking "Limit to selected regions."

</div>
</form>


<h3>Step Two: Search by name</h3>

<div>
<form method="get" action="typesearch.html">
<div>
Search for an item where the name contains (i.e., Afterburner, trit, mexal): <input type="text" name="search" /> <button type="submit">Search</button>


</div>
</form>
</div>

#end def
