
#extends templates.basebase

#def title
$typename - Market Browser
#end def


#def MarketList($list, $color)
<table width="95%">

<tr>
  <th


#if $sortorder == 'regionname':
class="quicklookSorted"
#end if
>Region <a href="quicklook.html?typeid=$typeid&amp;setorder=regionname&amp;setdir=0"><img src="/images/up.gif"></a><a href="quicklook.html?typeid=$typeid&amp;setorder=regionname&amp;setdir=1"><img src="/images/down.gif"></a> </th>

<th
#if $sortorder == 'stationname':
class="quicklookSorted"

#end if

>System - Station <a href="quicklook.html?typeid=$typeid&amp;setorder=stationname&amp;setdir=0"><img src="/images/up.gif"></a><a href="quicklook.html?typeid=$typeid&amp;setorder=stationname&amp;setdir=1"><img src="/images/down.gif"></a>  </th>

<th
#if $sortorder == 'price':
class="quicklookSorted"

#end if


 width="50">Price <a href="quicklook.html?typeid=$typeid&amp;setorder=price&amp;setdir=0"><img src="/images/up.gif"></a><a href="quicklook.html?typeid=$typeid&amp;setorder=price&amp;setdir=1"><img src="/images/down.gif"></a>  </th>

<th
#if $sortorder == 'volremain':
class="quicklookSorted"

#end if


>Qty<a href="quicklook.html?typeid=$typeid&amp;setorder=volremain&amp;setdir=0"><img src="/images/up.gif"></a><a href="quicklook.html?typeid=$typeid&amp;setorder=volremain&amp;setdir=1"><img src="/images/down.gif"></a> </th>

<th>Expires</th><th>Reported Time</th>
</tr>


#set $altB = False
#for $order in $list
#if $altB
<tr class="$color">
#set $altB = False
#else
#set $altB = True
<tr>
#end if


 <td>$order['regionname']</td>
 <td>
<a href="quicklook.html?typeid=$typeid&amp;usesystem=$order['systemid']" class="sslimit">[-]</a> 
<span class="sec_status" sec_status="$order['security']">$order['security']</span>  $order['stationname'] 

#if $order['range'] > -2
<span class="range_view">
#if $order['range'] == -1
 (Station)
#elif $order['range'] == 0
 (Solarsystem)
#elif $order['range'] == 32767 or $order['range'] == 65535
 (Region)
#else
($order['range'] jumps)
#end if
</span>
#end if
</td>

 <td>$order['price']</td>
 <td>$order['volremain']
#if $order['minvolume'] > 1
(Min: $order['minvolume'])
#end if

</td>
 <td>$order['expires']</td>
 <td>$order['reportedtime']</td>

</tr>


#end for

</table>


#end def


#def body


<div class="quicklookHeader">
<form method="get" action="quicklook.html">
<div>
Item: <a href="#" onclick="CCPEVE.showMarketDetails($typeid)"><b>$typename</b></a> (size: $typesize m<sup>3</sup>),
Looking at regions: 
#if $len($regionlimit) < 1
<i>All regions</i>
#end if

	#for $region in $regions
		#if $region['regionid'] in $regionlimit
				$region['regionname'], 
		#end if
	#end for

</div>

Viewing data up to <input type="text" value="$hours" name="sethours" size="5" /> hours old. Minimum Qty: <input type="text" value="$minQ" name="setminQ" size="7">
<input type="hidden" name="typeid" value="$typeid">
<button type="submit">Refresh</button>

</form>
</div>

<table width="100%">
<tr>
<td>
Quick Selling Statistics<br>
Median selling price in view: $avg_price ISK
<br>
Volume for sale now: $total_vol units

</td>
<td>
Quick Buying Statistics<br>
Median buying price in view: $b_avg_price ISK
<br />
Volume buying now: $b_total_vol units

</td></tr></table>
<div class="adLink">
EVETIMECODE buy 14 etc get 1 free <a href="http://evetimecode.com">EVETIMECODE.com</a> - Where your business counts!
</div>
<div class="adLink">
<a href="http://www.shatteredcrystal.com/code.php/eve_online/~325">EVE Online Game Time Codes</a> - Support EVE-Central by purchasing them at ShatteredCrystal.com through this affiliate link.</div>

<div id="sell_orders">
<a name="sells"></a>
<h3>Sell Orders (<a href="#buys">Buy Orders</a>)</h3>
$MarketList($sells, "highlightSell")
</div>

<script type="text/javascript"><!--
google_ad_client = "pub-8691225504311148";
google_ad_width = 728;
google_ad_height = 90;
google_ad_format = "728x90_as";
google_ad_type = "text_image";
//2007-06-15: EVE-Central
google_ad_channel = "2372685710";
google_color_border = "E0E0EE";
google_color_bg = "F0F0FF";
google_color_link = "0000FF";
google_color_text = "000000";
google_color_url = "008000";
//-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<div id="buy_orders">
<a name="buys"></a>

<h3>Buy Orders</h3>

$MarketList($buys, "highlightBuy")

</div>
#end def
