
#extends templates.basebase

#def title
Upload Utility
#end def

#def body


<p>Contributions can be made through EVEMon, any EVE Market Data Relay client, or our Contribtastic client.</P>

<p>Version 2.1.1 of our upload client, Contribtastic, is now available.
</p>
<ul>
<li><a href="http://dl.stackfoundry.org/contribtastic/evec_setup-2.1.1.exe">Download Contribtastic 2.1.1 (Windows Only - Windows XP to Windows 7)</a></li>
</ul>
<p>More information and downloads, source code, etc is available on our  <a href="http://dev.eve-central.com/contribtastic/">community development Wiki</a></p>
<p>After installing please visit our <a href="/home/upload_suggest.html">upload suggestion page</a> in your EVE ingame browser and let the data flow!<p>
#end def
