
#extends templates.basebase

#def title
Upload Utility
#end def

#def body


<p><b>Version 2.0-alpha6 is available, with cache reading capability</b>: <a href="http://dev.eve-central.com/contribtastic/">More information and downloads, source code, etc is available on our community development Wiki</a></p>
<p>After installing please visit our <a href="/home/upload_suggest.html">upload suggestion page</a> in your EVE ingame browser and let the data flow!<p>
#end def
