#extends templates.basebase

#def title
Trade Finder
#end def

#def body



<p>

<img src="/images/trade.png" align="right" />

<p><b>1. Search between two localities</b>. </p>

<form method="get" action="/home/tradefind_search.html">
<div>
Search for type:
 <select name="qtype">
  <option>Systems</option>
  <option value="SystemToRegion">System to Region</option>
<!--  <option>Constellations</option> -->
 <option>Regions</option>
 </select>
<br />
 From: <input type="text" name="fromt" /> To:  <input type="text" name="to" />
<button type="submit">Search &amp; Display</button>
<br />
<i>Note: From and To can be the same system, constellation, region. Example route: Pimebeka, Penirgmam</i>
</div>
</form>

#end def
