#extends templates.basebase

#def title
Trade Finder - Results
#end def

#def body



<p>

<img src="/images/trade.png" align="right" />

<i>Remember!</i>  This market data is collected from user submissions! Take a look at our <a href="/home/software">software page</a> to download the free utility which will upload market dumps from the EVE client</p>

<p>Displaying potential trade routes between <i>$fromname</i> and <i>$toname</i> (query type <i>$qtype</i>) up to $age hours old.
<br /><b>Important:</b> Profit is obviously not guaranteed. Use at your own risk. Check for the freshness of the data before using! </p>

<form method="get" action="tradefind_display.html">
<div>
<input type="hidden" name="set" value="1" />
<input type="hidden" name="fromt" value="$fromt" />
<input type="hidden" name="to" value="$to" />
<input type="hidden" name="qtype" value="$qtype" />
Only show trade routes with data newer than <input type="text" name="age" value="$age" size="3" /> hours. <br/>
Showing only routes with profit of <input type="text" name="minprofit" value="$minprofit" size="5" /> ISK or greater per trip. <br />
My ship can carry <input type="text" name="size" value="$size" size="7" /> m<sup>3</sup> of cargo. <br />
Show <input type="text" name="limit" value="$limit" size="4" /> entries per page. <br />
Sort by <select name="sort">

	<option value="jprofit"
#if $sort == "jprofit"
selected="selected"
#end if
>Profit per jump</option>
	<option value="sprofit"
#if $sort == "sprofit"
selected="selected"
#end if

>Profit per trip</option>
	<option value="profit"
#if $sort == "profit"
selected="selected"
#end if

>Profit</option>
	<option value="jumps"
#if $sort == "jumps"
selected="selected"
#end if

>Distance</option></select>
<br />

<input type="checkbox" value="1" name="prefer_sec"
#if $prefer_sec == 1
checked="1"
#end if
/> System Security filter (*Note below)
<input type="submit" value="Filter" />
<!--<br /><input type="checkbox" name="save" value="1" />Save as defaults-->
</div>
</form>


<p>Found <i>$num_trades</i> possible routes
#if $fromcache
(using <i>cached</i>results)
#end if
.</p>
<p>Page $page.
#if $page != 1
<a href="tradefind_display.html?qtype=$qtype&amp;fromt=$fromt&amp;to=$to&amp;age=$age&amp;minprofit=$minprofit&amp;size=$size&amp;startat=$prev&amp;sort=$sort">Previous page</a>
#end if
#if $len($trades) >= $limit
<a href="tradefind_display.html?qtype=$qtype&amp;fromt=$fromt&amp;to=$to&amp;age=$age&amp;minprofit=$minprofit&amp;size=$size&amp;startat=$next&amp;sort=$sort">Next page</a>
#end if

<hr />
<table border=0 width=90%>
#for $trade in $trades

<tr>
  <td><b>From:</b> $trade['fromstation']</td>
  <td><b>To:</b> $trade['tostation'] </td>
  <td><b>Jumps:</b> $trade['distance']</td>
</tr>
<tr>
  <td><b>Type:</b> <a href="quicklook.html?typeid=$trade['typeid']">$trade['typename']</a></td>
  <td><b>Selling:</b> $trade['fprice'] ISK</td>
  <td><b>Buying:</b> $trade['tprice'] ISK</td>
</tr>

<tr>
  <td><b>Per-unit profit:</b> $trade['pricediff'] ISK</td>
  <td><b>Units tradeable:</b> $trade['tradeable'] ($trade['fvol'] -&gt; $trade['tvol'])</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td><b><i>Potential profit</i></b>: $trade['profit'] ISK </td>
  <td><b><i>Profit per trip:</i></b>: $trade['profit_size'] ISK</td>
  <td><b><i>Profit per jump</i></b>: $trade['profit_jumps']</td>
</tr>
<tr><td>&nbsp;</td></tr>

#end for
</table>
<hr />
<p>Page $page.
#if $page != 1
<a href="tradefind_display.html?qtype=$qtype&amp;fromt=$fromt&amp;to=$to&amp;age=$age&amp;minprofit=$minprofit&amp;size=$size&amp;startat=$prev&amp;sort=$sort">Previous page</a>
#end if
#if $len($trades) >= $limit
<a href="tradefind_display.html?qtype=$qtype&amp;fromt=$fromt&amp;to=$to&amp;age=$age&amp;minprofit=$minprofit&amp;size=$size&amp;startat=$next&amp;sort=$sort">Next page</a>
#end if
<br />&nbsp;
<br/><i><b>*</b>(Note: This will remove start and end stations which are in < 0.5 space, as well as ATTEMPT to avoid routes going through insecure space. Routes which must go through lowsec space will still be shown if that is the only option)</i>
</p>
#end def
