#extends templates.basebase

#def title
Trade Tools
#end def

#def body

<div class="tradeTool">
  <h3>Sell->Buy Order Tool with Jump Distance</h3>
  The traditional NPC or player order matcher tool still lives on. Use this tool to match up Sell and Buy orders between regions and systems.

  <form method="get" action="/home/tradefind_search.html">
   <div>
    <table>
      <tr>

        <td>Query type:</td>
        <td>
          <select name="qtype">
            <option>Systems</option>
            <option value="SystemToRegion">System to Region</option>
            <option selected="selected">Regions</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          From:
        </td> <td><input type="text" name="fromt" /> </td>
      </tr>
      <tr>
        <td>To:</td><td>  <input type="text" name="to" />

	<button type="submit">Search &amp; Display</button>
  </td></tr>
    </table>
    <i>Note: From and To can be the same system or region.</i>
   </div>
  </form>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Large rect -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-8691225504311148"
     data-ad-slot="4894042237"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="tradeTool">
  <h3>System and Region Price Comparison Tool</h3>
  <p>Compare the price differences between sell orders in two systems or regions (or combination thereof). Simply enter any system or region name in either box, and pick a matching entry from the list. </p>
  <form action="compare">
    <div id="systemSearch">

      <div>
From:	    <input id="system1s" type="text" name="name" />
        <input id="system1" type="hidden" name="system1" value="-1" />
      </div>
<br>
      <div>
To:        <input id="system2s" type="text" name="name" />

        <input id="system2" type="hidden" name="system2" value="-1" />

      </div>
      <br />
      <input type="submit" value="Compare!" />
    </div>
  </form>
</div>

<script>
	\$(document).ready(function() {
	ec.tradetool();
	});
</script>


#end def
