
#extends templates.basebase

#def title
#if len($search) > 0:
Search for Type
#else
All Items
#end if
#end def

#def body



<p>


#if len($search) > 0:
<p>You searched the items list for for $search. $len($types) results:
#end if
#for $item in $types
<br />
<a href="quicklook.html?typeid=$item['typeid']">$item['typename']</a>
#end for

#end def
