
#extends templates.basebase

#def title
Search for Type
#end def

#def body



<p>

<!-- <img src="/images/market.png" align="right" /> -->

<i>Remember!</i>  This market data is collected from user submissions! Take a look at our <a href="/home/software">software page</a> to download the free utility which will upload market dumps from the EVE client</p>
<p>You searched the items list for for $search. $len($types) results:

#for $item in $types
<br />
<a href="quicklook.html?typeid=$item['typeid']">$item['typename']</a>
#end for

<form method="GET" action="typesearch.html">
Search for a type of item where the name contains (i.e., Afterburner, Trit, Nocx): <input type="text" name="search" value="$search"> <input type="submit" value="Search">

</form>


#end def
