
#extends templates.basebase

#def title
Upload Suggestions
#end def

#def body
#if $igb
<script type="text/javascript">
var items = new Array(#slurp
#set $sep = '' 
#for $id in $suggest 
$sep$id[1]#slurp
#set $sep = ', ' 
#end for
);

var index = 0;

function showMarketDetails() {
  if (isCompleted()) { 
    window.location.reload();
  } else {
    CCPEVE.showMarketDetails(items[index++]);
  }
}

function isCompleted() {
  return index >= items.length;
}

function start() {
  setInterval ( "showMarketDetails()", 3000 );
}

start();
</script>

<p>This page will open the market window for each of the listed items automatically and then reload until you close it.</p>

<ul>
#for $id in $suggest
<li><a href="javascript:CCPEVE.showMarketDetails($id[1])">$id[0]</a></li>
#end for
</ul>
#else
<script type="text/javascript">
	CCPEVE.requestTrust('http://eve-central.com/home/upload_suggest.html')
</script>

<p>Please open this page in the ingame browser and trust it, so we can suggest market data uploads for your current region. After trusting this page, you'll need to reload it.</p>
#end if

#end def