
#extends templates.basebase
#def title
EVE-Central.com - Set API keys. 
#end def

#def body

#if $errormsg
<p><b>$errormsg</b></p>
#end if

<p>Please provide a <b>full access</b> API key. In order to query market transaction information,  we need access to the full key. 
Your transaction log details and user information is private so long as your EVE-Central.com password remains private. 
Note that this access is <b>read-only</b>. No changes can be made to in-game data. <br />
<a href="/users/">Go back to the user interface</a>
</p>


<form method="post">
<div>
Full-access API key: <input type="text" size="90" name="full_apikey" value="$full_apikey" />
<br />
API User ID: <input type="text" size="20" name="apiuserid" value="$apiuserid" />
<br />
<input type="submit" value="Save" />
</div>
</form>


#end def
