@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic,600italic,700italic);

.view {position: relative;}

.view span {
    display: none;
}
.view:hover span {
    position: absolute;
    top: 5px;
    left: 30px;
    display: block;
    background: #fdd;
    border: 1px solid red;
}


h1, h2, h3 {
    font-family: Myriad Pro, sans-serif; 
}


.alignRight {
    text-align: right;
}

.standout {
    padding: 10px;
    font-size: 14px;
    background-color: red;
    color: #fff;
}
.standout, .standout a, .standout a:visited {
    font-size: 14px;
    background-color: red;
    color: #fff;
}


h1 {
    padding-left: 5px;
    font-weight: bold;
    font-size: 150%;
    border-bottom: 1px solid;
    padding-bottom: 0.5ex;
}

body {	
    font-family: "EVE Neue", "Source Sans Pro", sans-serif;
    margin: 0px;
    background: #fff;
}

a {	 
    color: #001122;
}


#bodyText {
    line-height: 1.5em;
    margin: 10mm 1.5em 0 1em;
    padding: 0 1em 1ex 1em;
}

#footer {
    background-color: #ddd;
    padding: 10px;
    margin-top: 20px;
    border-top: 4px solid #333333;
    border-bottom: 4px solid #333333;
}

#linkBar {
    font-size: 9pt;
}

#linkBar form {
    display: inline;
    padding: 5px;
    
}

#linkBar form button {
    border: 0px;
    border-radius: 4px;
    background-color: #cec;
}

#header {
    white-space: nowrap;
    background: url(/newlook/spacer.png);
}

#header img {
    border: 0px;
    padding: 0px;
    margin: 0px;
}


#bodyTextFlat {
    margin: 10mm 1em 0 1em;
}

#bodyText p {
    padding-bottom: 1ex;
    margin: 2ex 0 2ex 0;
    margin-left: 2ex;
}

#bodyText form {
    background-color: #ddd;
    padding: 1ex;
    margin-left: 2ex;

}

#bodyText .sslimit {
    text-decoration: none;
    font-size: 50%;
    padding-right: 2ex;
}

#bodyText .range_view {
    font-size: 80%;
    padding-left: 3ex;
}

#bodyText .sec_status {
    font-size: 70%;
    padding-right: 1ex;
}

#bodyText span[sec_status="0.0"] {
    color: red;
}

#bodyText span[sec_status="0.1"], #bodyText span[sec_status="0.2"], #bodyText span[sec_status="0.3"], #bodyText span[sec_status="0.4"] {
    color: #a22;
}


#bodyText span[sec_status="0.5"], #bodyText span[sec_status="0.6"], #bodyText span[sec_status="0.7"], #bodyText span[sec_status="0.8"], #bodyText span[sec_status="0.9"], #bodyText span[sec_status="1.0"] {
    color: #2a2;
}


#bodyText form a, #bodyText form a:visited {
    border-radius: 5px;
    background-color: #cce;
    padding: 1ex;
    text-decoration: none;
}

#bodyText form button {
    border-radius: 5px;
    background-color: #cec;
    padding: 1ex;
    font-size: 100%;
    border: 0px;
    text-decoration: none;
}

#bodyText form input[type="text"] {
    font-size: 100%;
    border-radius: 3px;
    border: 0px;
    padding: 1ex;
}


.search_suggestions {
    color: #666;
    font-size: 85%;
    padding-left: 1em;
}

.search_suggestions a, .search_suggestions a:visited {
    color: #666;
    padding-left: 1.1em;
}



.formBlock {
    background-color: #ddd;
    padding: 1ex;
    margin-left: 2ex;

}

.RHS {
    margin-right: 2.5mm;
    float: right;
    clear: right;
}

.LHS {
    margin-left: 2.5mm;
    float: left;
    clear: left;
}

.treeView {
    margin: 1ex 1ex 1ex 2.5ex; /* t r b l */
    border-left: 1px solid;
    padding-left: 0.5ex;
}

.treeheader {
    background-color: #f0f0ff;
    font-family: sans-serif;
}

.adLink {
    background-color: #FFFF66;
}


.colorAlt {
    background-color: #DDDDEE;
}

.tradeTool {
    width: 90%;
    background-color: #ccff99;
    padding: 23px;
    margin-bottom: 10px;
}
.userPanel {
    width: 90%;
    background-color: #ccff99;
    padding: 10px;
    padding-bottom: 20px;
}

#systemSearch {

}
#system1s { position:static;width:20em; } 
#system1ysearchcontainer { text-align:left;width:20em; } 
#system2s { position:static;width:20em; }
#system2ysearchcontainer { text-align:left;width:20em; } 

table {
    border: 0;
    border-spacing: 0px;
}

td {
    padding: 5px;

}

img {
    border: 0px;
}