[global]
environment = 'production'
tools.sessions.on = True
tools.proxy.on = True
tools.staticdir.root = "/www/eve-central.com/static_web"
tools.sessions.storage_type = "file"
tools.sessions.storage_path = "/tmp/cherry_session"
tools.sessions.timeout = 360
tools.sessions.locking = 'explicit'
engine.autoreload_on = False
#log.error_file = "error.log"
#log.access_file = "access.log"
#log.screen = True
server.socket_port = 8000
server.thread_pool = 1

[/api]
tools.sessions.on = False
[/favicon.ico]
tools.staticfile.on = True
tools.staticfile.filename = "/www/eve-central.com/static_web/favicon.ico"